<!-- imposterGame/templates/imposterGame/select_name.html -->

{% extends "base.html" %}
{% block title %}Choose your name{% endblock %}

{% block content %}
<h2>Choose your name</h2>

<form method="post">
    {% csrf_token %}
    <input
        type="text"
        name="name"
        maxlength="50"
        required
        class="form-control"
        placeholder="Enter your username"
    >

    <button type="submit" class="btn btn-primary mt-3">
        Continue
    </button>
</form>
{% endblock %}
