{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="text-center">
    <h1 class="mb-4">Welcome to couple Questionnaire</h1>

    <h2 class="mb-3"> Test your Relationship </h2>

    <h2 class="mb-3"> Currently available Categories: </h2>


    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'couplesQuestions:future_question' %}" class="btn btn-primary btn-lg">
            Future:
        </a>

        <a
            href="{% url 'couplesQuestions:intimate_questions' %}"
            class="btn btn-primary btn-lg"
        >
            Intimate Questions:
        </a>
        <a
            href="{% url 'couplesQuestions:small_talk' %}"
            class="btn btn-primary btn-lg"
        >
            Small Talk:
        </a>
        <a
            href="{% url 'couplesQuestions:love_languages' %}"
            class="btn btn-primary btn-lg"
        >
            Love Languages:
        </a>
    </div>
</div>
{% endblock %}
