{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="text-center">
    <h1 class="mb-4">Couple Questionnaire</h1>
    <h1 class="mb-4"># Show Category</h1>


    <h2 class="mb-3"> # Show Question </h2>


    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'imposterGame:create_room' %}" class="btn btn-primary btn-lg">
            Next Question
        </a>

        <a
            href="{% url 'couplesQuestions:couples_home' %}"
            class="btn btn-primary btn-lg"
        >
            Change Category
        </a>

    </div>
</div>
{% endblock %}
